<div class="game auto-unregister">
    <div class="horizontal">
        <div class="playerWrapper" ng-if="isPlayerExists(2)">
            <player player-data="getPlayerData(2)"></player>
        </div>
        <opp-hand ng-if="isPlayerExists(2)" cards-num="getPlayerCardsNum(2)"></opp-hand>
    </div>
    <div class="vertical" ng-if="isPlayerExists(1)">
        <opp-hand cards-num="getPlayerCardsNum(1)"></opp-hand>
        <div class="playerWrapper">
            <player ng-if="isPlayerExists(1)" player-data="getPlayerData(1)"></player>
        </div>
    </div>
    <yack yack-info="data.yackInfo"></yack>
    <div class="vertical" ng-if="isPlayerExists(3)">
        <div class="playerWrapper">
        <player player-data="getPlayerData(3)"></player>
        </div>
        <opp-hand cards-num="getPlayerCardsNum(3)"></opp-hand>
    </div>
    <div class="horizontal closerPlayer">
        <div class="playerWrapper">
            <player player-data="getPlayerData(0)"></player>
            <div class="centerButtons readyWrapper" ng-if="isHandExists(1)">
                <span ng-if="!isGameStarted()" class="button smallerButton{{isPlayerReady(0) ?' active' :''}}"
                      ng-click="readyClick()">Ready</span>
                <span ng-if="isGameStarted() && isDefender(0) && data.flow.isCollectingPossible"
                      class="button smallerButton{{isDefenderCollecting() ?' active' :''}}"
                      ng-click="collect()">Collect</span>
                <span ng-if="isGameStarted() && !isDefender(0) && data.flow.isDoneAttackingPossible"
                      class="button smallerButton{{-1 != data.flow.doneAttackingUsers.indexOf(getPlayerName(0)) ?' active' :''}}"
                      ng-click="doneAttacking()">Done</span>
            </div>
        </div>

        <my-hand ng-if="isHandExists()" my-hand="data.myHand">
        </my-hand>

        <opp-hand ng-if="!isHandExists()" cards-num="getPlayerCardsNum(0)" is-defender="isDefender(0)"
                  is-first-attacker="isFirstAttacker(0)"></opp-hand>
    </div>
    <div class="deckWrapper" ng-if="data.deck && data.deck.size">
        <deck ng-if="data.deck.size > 1" deck-size="data.deck.size"></deck>
        <card suit="data.deck.strongCard.suit" rank="data.deck.strongCard.rank" class="strongCard"></card>
    </div>
</div>
