.card {
    display: inline-block;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    text-align: center;
    font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    height: 88px;
}

.opponent .card, .deck .card {
    text-indent: -4000px;
    background-color: #ccc;
    background-repeat: repeat;
    background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
    background-image: -moz-repeating-linear-gradient(34% 6% 135deg, #0F1E59, #75A1BF, #3E3E63 50%);
    background-image: -webkit-gradient(radial, center center, 20, center center, 80, from(#3BA), color-stop(0.4, #345), to(#000));
    /* yes, it's intentional that Mozilla, Webkit, Opera and IE all will get different backgrounds ... why not? :) */
}

/*COLORS*/

.card.suit-4 {
    color: #f00 !important;
}

.playingCards.fourColours .card.suit-4 {
    color: #00f !important;
}

[lang=de] .playingCards.fourColours .card.suit-4 {
    color: #f60 !important;
}

.card.suit-3 {
    color: #f00 !important;
}

.card.suit-1 {
    color: #000 !important;
}

[lang=de] .playingCards.fourColours .card.suit-1 {
    color: #090 !important;
}

.card.suit-2 {
    color: #000 !important;
}

.playingCards.fourColours .card.suit-2 {
    color: #090 !important;
}

[lang=de] .playingCards.fourColours .card.suit-2 {
    color: #000 !important;
}

.card.joker {
    color: #000 !important;
}

.card.joker.big {
    color: #f00 !important;
}

/* inner bits
********************************************************************/

/* top left main info (rank and suit) */

.card .rank,
.card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}

.card .rank {
}

.card .suit {
    line-height: .7;
}

/* checkbox */
.card input {
    margin-top: -.05em;
    font: inherit;
}

.playingCards.simpleCards .card input,
.card.rank-11 input,
.card.rank-12 input,
.card.rank-13 input,
.card.rank-14 input {
    margin-top: 2.4em;
}

.playingCards.inText .card input {
    margin-top: 0;
}

/* different rank letters for different languages */
.card .rank:after,
.card.joker .rank:before {
    display: block;
    background: transparent;
    letter-spacing: -.125em;
    white-space: pre;
    line-height: .45;
    font-size: 100%;
    word-spacing: -.05em;
}

.card .rank:before {
    line-height: 0.9;
}

.card.rank-1 .rank:before {
    content: "1";
}

.card.rank-2 .rank:before {
    content: "2";
}

.card.rank-3 .rank:before {
    content: "3";
}

.card.rank-4 .rank:before {
    content: "4";
}

.card.rank-5 .rank:before {
    content: "5";
}

.card.rank-6 .rank:before {
    content: "6";
}

.card.rank-7 .rank:before {
    content: "7";
}

.card.rank-8 .rank:before {
    content: "8";
}

.card.rank-9 .rank:before {
    content: "9";
}

.card.rank-10 .rank:before {
    content: "10";
}

.card.rank-11 .rank:before {
    content: "J";
}

.card.rank-12 .rank:before {
    content: "Q";
}

.card.rank-13 .rank:before {
    content: "K";
}

.card.rank-14 .rank:before {
    content: "A";
}

/* joker (top left symbol) */
.card.joker .rank {
    position: absolute;
}

.card.joker .rank:before {
    content: "\2605";
    top: 0;
    left: 0;
}

.card.joker .suit {
    text-indent: -9999px;
}

/* inner multiple suits */
.card .suit:after {
    display: block;
    text-align: center;
    white-space: pre;
    line-height: .45;
    font-size: 100%;
    word-spacing: -.05em;
}

/* spades */
.card.suit-1 .suit:before {
    content: "\2660";
}

.card.suit-1 .suit:after {
    content: "\A\2660\A\00A0\A\00A0";
}

.card.suit-1 .rank.upsideDown:after {
    content: "\2660";
}

/* clubs */
.card.suit-2 .suit:before {
    content: "\2663";
}

.card.suit-2 .suit:after {
    content: "\A\2663\A\00A0\A\00A0";
}

.card.suit-2 .rank.upsideDown:after {
    content: "\2663";
}

/* hearts */
.card.suit-3 .suit:before {
    content: "\2665";
}

.card.suit-3 .suit:after {
    content: "\A\2665\A\00A0\A\00A0";
}

.card.suit-3 .rank.upsideDown:after {
    content: "\2665";
}

/* diamonds */
.card.suit-4 .suit:before {
    content: "\2666";
}

.card.suit-4 .suit:after {
    content: "\A\2666\A\00A0\A\00A0";
}

.card.suit-4 .rank.upsideDown:after {
    content: "\2666";
}


