.player-display {
    width: 35px;
    height: 35px;
    background-color: #A0C3FF;
    display: block;
    border-radius: 50%;
}

.player-display > .head {
    width: 12px;
    height: 12px;
    background: #4374E0;
    border-radius: 50%;
    position: relative;
    top: 6px;
    left: 12px;
}

.player-display > .body {
    width: 24px;
    background: #4374E0;
    position: relative;
    top: 8px;
    left: 6px;
}

.player-display > .body.shoulders {
    height: 8px;
    border-radius: 50% 50% 10% 10%;
}

.player-display > .body.waist {
    height: 7px;
    border-radius: 0 0 50% 50%;
}

.player {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.player-display.firstAttacker {
    -webkit-animation: firstAttackerColorChange 10s infinite;
    animation: firstAttackerColorChange 10s infinite;
    border: dashed 5px lightyellow;
}

.player-display.defender {
    -webkit-animation: defenderColorChange 10s infinite;
    animation: defenderColorChange 10s infinite;
    border: dashed 5px indianred;
}

.player-display.ready,
.player-display.done {
    -webkit-animation: greenColorInterval 1s infinite;
    animation: greenColorInterval 1s infinite;
}

@keyframes defenderColorChange {
    5% {
        background-color: indianred;
    }
    10% {
        background-color: #A0C3FF;
    }
    25% {
        background-color: indianred;
    }
    30% {
        background-color: #A0C3FF;
    }
    50% {
        background-color: indianred;
    }
    55% {
        background-color: #A0C3FF;
    }
}

@-webkit-keyframes defenderColorChange /* Safari and Chrome */
{
    5% {
        background-color: indianred;
    }
    10% {
        background-color: #A0C3FF;
    }
    25% {
        background-color: indianred;
    }
    30% {
        background-color: #A0C3FF;
    }
    50% {
        background-color: indianred;
    }
    55% {
        background-color: #A0C3FF;
    }
}

@keyframes firstAttackerColorChange {
    5% {
        background-color: lightyellow;
    }
    10% {
        background-color: #A0C3FF;
    }
    25% {
        background-color: lightyellow;
    }
    30% {
        background-color: #A0C3FF;
    }
    50% {
        background-color: lightyellow;
    }
    55% {
        background-color: #A0C3FF;
    }
}

@-webkit-keyframes firstAttackerColorChange /* Safari and Chrome */
{
    5% {
        background-color: lightyellow;
    }
    10% {
        background-color: #A0C3FF;
    }
    25% {
        background-color: lightyellow;
    }
    30% {
        background-color: #A0C3FF;
    }
    50% {
        background-color: lightyellow;
    }
    55% {
        background-color: #A0C3FF;
    }
}

@keyframes greenColorInterval {
    0% {
        background-color: lightgreen;
    }
    100% {
        background-color: #A0C3FF;
    }
}

@-webkit-keyframes greenColorInterval /* Safari and Chrome */
{
    0% {
        background-color: lightgreen;
    }
    100% {
        background-color: #A0C3FF;
    }
}